{% extends 'replies/news/layout/layout.html' %}
{% block title %}{{news.title|default('iasa news')}}{% endblock %}

{% block content%}
<div class="container content">
	{% if news.content %}
	<div class="news">
		{{ news.content }}

		{% if !news.meta %}
		{% set news.meta = {} %}
		{% endif %}
		{#% set news.meta.z = 'abc' %#}

		{{ news.meta.z|default('zzz1') }}

		{% set tt="./templates/default/layout/navigation.html" %}

		{% include tt ignore missing %}

		{% for news_item in news.items %}
		<div class="blog-post">
			<h3 class="blog-post-title">
				{{ news_item.title }}
				<!--<a class="glyphicon glyphicon-sm glyphicon-pencil" aria-hidden="true" href="newsadd"></a>-->
			</h3>
			<p class="blog-post-meta">
				{{ news_item.timestamp.toString()|default('2015.Dec.01 08:32') }}
				by
				<u>{{ news_item.author|default('Mr. Nobody') }}</u>
			</p>
			{{news_item.content}}
		</div>
		{% endfor %}
	</div>
	{% else %}
	none
	{% endif %}
</div>
{% endblock %}