<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title></title>
</head>
<body>
    <table>
        <tr>
            <th>Имя пользователя</th>
            <th>Права</th>
            <th>Ред.</th>
        </tr>
        <tr>
            <td>Вася пупкин</td>
            <td>Модератор</td>
            <td><img height = "25px" src="{{ html_path|default('.') }}/layout/picture/cab-01.png"></td><!--почему-то оно не отображается -->
        </tr>
    </table>

    <button>Добавить</button>
</body>
</html>