<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="content-type" content="text/html" charset="UTF-8">
    <link type="text/css" rel="stylesheet" href="{{ html_path|default('.') }}/style/my.css" >
    <script type="text/javascript" src="script.js"></script>
    <title>Личный кабинет</title>
</head>
<body>
<div class = "top">
    <div id = "imp">Что-то важное. Или нет</div>
    <div id = "esc"><a href = "Еще не знаю">Выход</a></div>
</div>
<div class = "main">
    <div id = "hi">Здравствуйте, {{cab.username}}</div>

    <ul class = "menu">
        <li><a id= "first" href=""> Личная инфа</a></li>
        <li><a id= "sec" href="">Что-то еще</a></li>
        {% if cab.rights === 'admin' %}
        <li><a id= "third" href="">Изменение прав</a></li>
        {% endif %}
        <li>Smth</li><!--почему оно не отображается?-->

    </ul>
    <!--а вот что-то подобное для каждого пункта сделать надо-->
    <div id = "content">

        <!--тут как-то из базы данных передать и вывести админов и модераторов-->
        <!--я одного в пример запилю-->
        <table>
        <tr>
            <th>Имя пользователя</th>
            <th>Права</th>
            <th>Ред.</th>
        </tr>
        <tr>
            <td>Вася пупкин</td>
            <td>Модератор</td>
            <td><img height = "25px" src="{{ html_path|default('.') }}/layout/Pencil.png"></td><!--почему-то оно не отображается -->
        </tr>

    </table>

    <button>Добавить</button>
    </div>



    <!--почему оно не отображается то что в конце...?-->
</div>
</body>
</html>