<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="content-type" content="text/html" charset="UTF-8">
    <link type="text/css" rel="stylesheet" href="{{ html_path|default('.') }}/style/my.css" >
    <title>Личный кабинет</title>
</head>
<body>
<div class = "top">
    <div id = "imp">Что-то важное. Или нет</div>
    <div id = "esc"><a href = "Еще не знаю">Выход</a></div>
</div>
<div class = "main">
    <div id = "hi">Здравствуйте, {{cab.username}}</div>

    <ul class = "menu">
        <li>Личная инфа</li>
        <li>Что-то еще</li>
        {% if cab.rights === 'admin' %}
        <li>Изменение прав</li>
        {% endif %}
        <li>Smth</li><!--почему оно не отображается?-->

    </ul>
    <!--а вот что-то подобное для каждого пункта сделать надо-->
    <div id = "rights">
        <img src="lapiz.png">
        <!--тут как-то из базы данных передать и вывести админов и модераторов-->
        <!--я одного в пример запилю-->
        <table>
        <tr>
            <th>Имя пользователя</th>
            <th>Права</th>

        </tr>
        <tr>
            <td>Вася пупкин</td>
            <td>Модератор</td>
            <td><img src="{{ html_path|default('.') }}/layout/Pencil.png"></td><!--почему-то оно не отображается -->
        </tr>

    </table>

    <button>Добавить</button>
    </div>

    <div id = "test">
        <p>Просто если здесь что-то добавить, у меня кнопка отобразится...</p>
    </div>

    <!--почему оно не отображается то что в конце...?-->
</div>
</body>
</html>