<style type="text/css">
    .menu-top {
        background-color: bisque;
        position: fixed;
        top: 0px;
        width: 100%;
    }
    .menu-top ul {
        background-color: beige;
        list-style: none;
        margin: 0px auto;
        padding: 0px;
        vertical-align: top;
    }
    .menu-top > ul {
        border: 1px red solid;
        width: 1024px;
    }
    .menu-top > ul > li {
        display: inline-block;
    }
    .menu-top > ul ul {
        display: none;
        position: absolute;
    }
    .menu-top > ul li:hover > ul {
        display: inline !important;
    }

</style>

<div class="menu-top">
    <ul>
        <li>
            111
            <ul>
                <li>
                    111
                    <ul>
                        <li>
                            111
                        </li>
                        <li>
                            222
                        </li>
                        <li>
                            333
                        </li>
                        <li>
                            444
                        </li>
                    </ul>
                </li>
                <li>
                    222
                    <ul>
                        <li>
                            111
                        </li>
                        <li>
                            222
                        </li>
                        <li>
                            333
                        </li>
                        <li>
                            444
                        </li>
                    </ul>
                </li>
                <li>
                    333
                </li>
                <li>
                    444
                </li>
            </ul>
        </li>
        <li>
            222
            <ul>
                <li>
                    111
                </li>
                <li>
                    222
                </li>
                <li>
                    333
                </li>
                <li>
                    444
                </li>
            </ul>
        </li>
        <li>
            333
        </li>
        <li>
            444
        </li>
    </ul>
</div>